functions:
  - startActivity:
      method: POST
      path: /activities
      proxy: null
      function: startActivity
  - endActivity:
      method: PUT
      path: /activities/{+proxy}
      proxy: :id/end
      function: endActivity
  - updateActivity:
      method: PUT
      path: /activities/update
      proxy: null
      function: updateActivity
  - getActivity:
      method: GET
      path: /activities/details
      proxy: null
      function: getActivity
  - openVisitCheck:
      method: GET
      path: /activities/open
      proxy: null
      function: openVisitCheck
  - getActivitiesForCleanup:
      method: GET
      path: /activities/cleanup
      proxy: null
      function: getActivitiesForCleanup
dynamodb:
  local:
    params:
      region: localhost
      endpoint: http://127.0.0.1:8005
    table: cvs-local-activities
    keys:
      - id
  remote:
    params: {}
    table: cvs-${BRANCH}-activities
serverless:
  basePath: /${BRANCH}
  port: 3007
